.wrapper{
  background: linear-gradient(to right, #b2fefa, #0ed2f7);

    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
  }
  
  button{
    position: absolute;
    bottom: 250px;
  }
  
 

  .icons{
    color:black;
    transform: scale(2.5);
    position: absolute;
    top: 250px;
  }

  .buttonLogin{
    position: absolute;
    right: 50px;
    top: 30px;
    display: flex;
    align-items: center;
    transform: scale(1.5);
    
  }

  .ml2 {
    font-weight: 900;
    /* position: absolute;
    top: 200px; */
    font-size: 170px;
    
    font-family: 'Allura', cursive;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }


  