<mat-drawer-container class="example-container" autosize>
    
    
    <mat-drawer #drawer mode="side" class="cstDrawer" [opened]="isDrawerOpen">
        <mat-list role="list">
            <mat-list-item class="py-5" role="listitem" routerLink="start" routerLinkActive="active"><p class="menuPara">Benvenuto</p></mat-list-item>
            <mat-list-item class="py-5" role="listitem" routerLink="antipasti" routerLinkActive="active"><p class="menuPara"> Antipasti</p> </mat-list-item>
            <mat-list-item class="py-5" role="listitem" routerLink="primipiatti" routerLinkActive="active"><p class="menuPara"> Primi</p></mat-list-item>
            <mat-list-item class="py-5" role="listitem" routerLink="secondipiatti" routerLinkActive="active"><p class="menuPara"> Secondi</p></mat-list-item>
            <mat-list-item class="py-5" role="listitem" routerLink="desserts" routerLinkActive="active"><p class="menuPara"> Desserts</p></mat-list-item>
            <mat-list-item class="py-5" role="listitem" routerLink="bevande" routerLinkActive="active"><p class="menuPara"> Bevande</p></mat-list-item>    
        </mat-list>

        <mat-list class="buttonList">
            <mat-icon class="mx-3" routerLink="start">arrow_upward</mat-icon>
            <mat-icon class="mx-3" routerLink="">home</mat-icon>
            <mat-icon class="mx-3" routerLink="adminPage" *ngIf="isUserLoggedIn()"><mat-icon>account_circle</mat-icon></mat-icon>
        </mat-list>

    </mat-drawer>
    
    
    
    <mat-drawer-content>

        <router-outlet>
            <button class="buttonStart" type="button" mat-button (click)="toggleDrawer()">
                {{ isDrawerOpen ? 'Chiudi il nostro menù' : 'Apri il nostro menù' }}
              </button>

        </router-outlet>

    </mat-drawer-content>

</mat-drawer-container>




