.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: url(/assets/media/base.jpeg); */
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.cstDrawer{
  width: 250px;
}

.buttonList{
  position: absolute;
  bottom: 0;
  left: 50px;
}

.buttonStart{
  font-family: 'Allura', cursive;
  font-size: 30px;

}

.active{
    background-color: #b2fefa;
  }

  mat-drawer{
   background-color: rgb(255, 241, 241);
    
  }

