  <div class="container-fluid">
        <div class="row border-bottom border-dark justify-content-center">
            <div class="pt-3 pb-2 ms-5 mb-3 col-12 col-md-11 d-flex flex-column align-items-center" *ngIf="authService.userData as user">
              <p class="fs-2 mb-3">Ciao, <strong>{{(user.displayName) ? user.displayName : 'Admin'}}</strong></p>
              <p class="fs-6">Email: <strong>{{user.email}}</strong></p>
              <button class="btn btnLogout" (click)="authService.SignOut()">
                <i class="fa-solid fa-right-from-bracket" style="color: #000000;">Logout</i>
              </button>
            </div>
        </div>
  <div>

      <div class="col-12 col-md-12 pt-5 pb-2 mb-3 d-flex justify-content-center ">
        <button class="btn"(click)="toggleSidenav()">
          <i class="fa-solid fa-plus fa-xl" style="color: #000000;">Inserisci un piatto</i>
        </button>
      </div>
      </div>
  </div>
  
  <div class="container">
  <div class="sidenav w-75 " [ngClass]="{'open': isSidenavOpen}">
    
      <div class="row justify-content-center mt-1">
        <form class="col-12 col-md-6 d-flex flex-column" [formGroup]="piattiForm" (ngSubmit)="onSubmit($event)">
          <mat-form-field>
            <mat-label>Seleziona in che sezione vuoi inserire il piatto</mat-label>
            <mat-select id="categoria" [(ngModel)]="selectedCategory" formControlName="categoria" name="categoria" required>
              <mat-option value="antipasti">Antipasti</mat-option>
              <mat-option value="primipiatti">Primi</mat-option>
              <mat-option value="secondipiatti">Secondi</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="nome"  name="nome" required formControlName="nome">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Descrizione</mat-label>
            <input matInput type="text" id="descrizione"  name="descrizione" required formControlName="descrizione">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Prezzo</mat-label>
            <input matInput  type="number" id="prezzo" name="prezzo" required formControlName="prezzo">
          </mat-form-field>
          
          <input type="file" name="img" formControlName="img" id="img">           
          <button mat-raised-button extended type="submit" class="rounded-4 mt-3 px-5 py-4">
             <i class="fa-solid fa-plus fa-lg"> Aggiungi piatto</i>
          </button>
        </form>
      </div>
 
  </div>
</div>
  

