<div class="d-flex justify-content-evenly mt-5">

    <mat-card class="example-card rounded-5">
      <img mat-card-image src="../../../assets/media/gamberiLuna.jpg" alt="Photo of a Shiba Inu">

      <mat-card-title class="mx-3 mt-1 text-secondary">Nome Antipasto</mat-card-title>

      <mat-card-subtitle class="mx-3 mt-1"> € </mat-card-subtitle>

      <mat-card-subtitle class="mx-3 mt-2">
        Qui ci scriverei gli ingredienti del prodotto. 
        La scritta non esce fuori!
      </mat-card-subtitle>

      <mat-card-actions class="mx-3 buttonA">
        <!-- <button mat-button><mat-icon>add</mat-icon></button> -->
        <button mat-mini-fab class="buttonAdd" aria-label="Aggiungi il piatto al tuo ordine!">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
      
    </mat-card>



<!-- ALTRE CARD -->

    <mat-card class="example-card mx-5">
      <!-- <mat-card-header>
      
      </mat-card-header> -->
      <img mat-card-image class="imgCard" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="text-secondary mt-2">
        <h4>Nome Antipasto 3</h4>
        <h6>$ Prezzo</h6>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>AGGIUNGI</button>
      </mat-card-actions>
    </mat-card>



    <mat-card class="example-card mx-5">
      <!-- <mat-card-header>
      
      </mat-card-header> -->
      <img mat-card-image class="imgCard" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="text-secondary">
        <h4>Nome Antipasto 2</h4>
        <h6>$ Prezzo</h6>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>AGGIUNGI</button>
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>

</div>