.card {
  min-height: 450px;
  width: 300px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
  margin: 100px;
  position: relative;
  
}

.card img {
  max-width: 220px;
  height: 200px;
  object-fit: cover;
  margin: -100px 0 30px 0;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.btn{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: -45px; 
  background-color: white;
  color: rgb(231, 50, 50);
  border: 2px solid rgb(231, 50, 50);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: transform 400ms ease-out; 
 }

.card:hover{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


.card:hover .btn{
  transform: translate(40px, -40px) scale(0.9, 1);
  opacity: 1;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

@media (width <= 740px) {
  .card {
    margin: 50px 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}

.btn-show{
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold; 
}


.text-cursive{
  font-family: 'Allura', cursive;
}

.text-dark{
  position: absolute;
  bottom: 50px;
  left: 100px;
}

