<h2 class="text-center">I nostri primi</h2>
<blockquote class="text-center">“La vita è una combinazione di pasta e magia” 
    <footer>&ndash;Federico Fellini

    </footer>
</blockquote>
<div class="d-flex justify-content-evenly align-items-start flex-wrap mt-5">
<app-card *ngFor="let primo of primipiatti; let i = index" [itemIds]="itemIds"
[item]="primo"
[isTruncated]="primo.isTruncated"
[cardTypePath]="cardTypePath"
[databasePath]="'/primipiatti'"
(cardDeleted)="onCardDeleted($event)"
>
</app-card>
</div>



