<div class="container d-flex flex-column justify-content-between vh-75">
    <div class="container-fluid">
        <h2 class="text-center mt-4">Ristorante SulMare</h2>
        <div class="row justify-content-evenly">
            <div class="col-12 col-md-4 text-center order-1">
                <p>
                    Situato sulla splendida costa del Mediterraneo, il nostro ristorante offre un'esperienza culinaria unica nel suo genere. Con una vista mozzafiato sull'azzurro mare, "SulMare" è il luogo perfetto per immergersi nella bellezza del mare mentre gustate prelibatezze culinarie straordinarie.
                </p>
                
            </div>
            
            <div class="col-12 col-md-4 order-2">
                <img src="../../../assets/media/LogoR.png" alt="">
                
            </div>
            
            <div class="col-12 col-md-4 text-center order-3">
                <p>
                    Il menu del ristorante "SulMare" è una celebrazione della cucina italiana e del mare. Gli chef esperti preparano piatti che fondono sapientemente ingredienti freschi provenienti dal mare con ricette tradizionali italiane. Gli antipasti includono sfiziosi frutti di mare freschi, come gamberi, cozze e vongole, serviti con aglio e prezzemolo, o fritti in una leggera pastella croccante.
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
                <h4 class="mb-0">Seguici su:</h4>
                <a href=""><i class="fa-brands fa-instagram fa-bounce fa-2xl mx-3" style="color: #000000"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook fa-bounce fa-2xl" style="color: #000000"></i></a> 
            </div>
        </div>
        
    </div>
</div>
